.row {
  display: flex;
  margin: 0 auto;
}

.navBar {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
}

.btn {
  font-size: 20px;
  padding: 7px 15px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid rgb(116, 116, 116);
  background-color: white;
  transition: background-color 0.4s;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(225, 225, 225);
}

.btn:active {
  transform: translate(0px, 1px);
}


.nodes {
  display: block;
  padding: 1px;
  width: 1618px;
  border: 15px solid rgb(68, 68, 68);
  margin: 5px auto;
}

.btnActived {
  background-color: rgb(206, 206, 206);
}

.warning {
  color: rgb(225, 1, 1);
  background-color: rgb(255, 235, 235);
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 10px;
  align-self: center;
  transition: 0.1s;
}

.pathNum {
  font-size: 20px;
  align-self: center;
  border-radius: 5px;
  padding: 5px 15px;
  margin-left: 10px;
  background-color: rgba(229, 229, 229, 0.703);
}